<h1>Eqlea</h1>
<ul>
  <li><a href="#"> What is this website? </a></li>
  <li> Cheatsheet: <a href="#">Markdown</a> / <a href="#">LaTeX</a> </li>
  <li><a href="#"> Guide </a></li>
</ul>
<p>
  Log in: email, password
</p>
<p>
  Sign up: email, password, password confirmation
</p>