<% provide(:title, @note.name) %>
<% assign_view_specific_stylesheets 'edit_note' %>
<% assign_view_specific_javascripts 'edit_note' %>


<header>
  <%= link_to "Home", root_url, id: "home_link" %>
  <%= link_to "View", note_path(@note), target: "_blank", id: "view_link" %>
</header>

<div id="display"><%= @note.content %></div>

<div id="editor"><%= @note.content %></div>

