/* Universal */

body {
	font-family: Arial;
}

/* Home Page */

#home-about-link {
	display: block;
	margin: 10px 0;
	text-align: center;
	font-size: small;
}

#sign-in-form {
	text-align: center;
}
