/*
 *= require master
 */

body
{
  margin: 0;
}


header
{
  height: 30px;
  line-height: 30px;
  text-align: right;
  background-color: #3E3D32;
  font-weight: bold;
  font-size: small;
}

header a
{
  display: inline-block;
  height: 100%;
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

header a:hover
{
  background-color: #272822;
}

#display
{
  display: none;
}

#editor
{
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 20px;
}