
#wrapper
{
  width: 500px;
  margin: 0 auto;
}

#new_page
{
  text-align: center;
  margin: 20px;
}

#notes_list
{
  width: 100%;
  border-collapse: collapse;
}

#notes_list td
{
  padding: 5px 0;
  border-style: solid;
  border-width: 0 0 1px 0;

  border-color: LightGrey;
}

#notes_list th
{
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px 0;

  border-color: LightGrey;
  background-color: Beige;
  text-align: left;
  font-weight: normal;
  font-size: 140%;
}

#notes_list tbody tr:hover
{
  background-color: Beige;
}

#notes_list a
{
  text-decoration: none;
}

.item_name
{
  width: 200px;

  font-weight: bold;
}

.item_date
{
  width: 150px;
  font-size: small;
}

.item_edit, .item_rename
{
  width: 60px;
}

.item_edit, .item_rename, .item_delete
{
  text-align: center;
}

#user_edit_form
{
  display: none;
}

footer
{
  text-align: right;
}