/*
 *= require master
 */

$width: 300px;

#wrapper
{
  width: $width;
  margin: 0 auto;
}

#wrapper header
{
  text-align: right;
}

#form
{
  position: relative;
}

#error_explanation
{
  position: absolute;
  left: $width;
  width: 250px;
  margin: 0;
}

#error_explanation div
{
  display: table;
  height: 50px;
  color: DarkOrange;
}

#error_explanation div span
{
  display: table-cell;
  vertical-align: middle;
}

#error_explanation div span:first-child
{
  padding: 10px;
}

#email_error, #password_error, #confirmation_error
{
  visibility: hidden;
}


/* Should use class but whatever for now */
#email, #password, #password_confirmation
{
  width: 100%;
  box-sizing: border-box;
  padding: 10px 5px;
  border-width: 0 0 1px 0;
  margin: 0;

  border-color: White;
  background-color: PaleGoldenRod;
  font-size: 24px;
}

#email:focus, #password:focus, #password_confirmation:focus
{
  outline: none;
  background-color: Beige;
}

#password_confirmation
{
  display: none;
}

#new_user
{
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 10px 5px;

  background-color: PaleGoldenRod;
  font-size: 24px;
}

#new_user:hover
{
  background-color: Beige;
  cursor: hand;
  cursor: pointer;
}

#submit
{
  margin: 0;
  border: 0;
  padding: 10px 5px;

  font-size: 24px;
  width: 50%;
  background-color: LightSteelBlue;
}

#submit:hover, #submit:focus
{
  background-color: LightBlue;
  cursor: hand;
  cursor: pointer;
}

#submit:active
{
  box-shadow: inset 0 0 10px Grey;
}
